{% extends 'base.html' %}
{% load static %}
{% block nav_home %}
	active
{% endblock %}
{% block content %}



    <!-- Start Banner -->
    <div class="ulockd-home-slider">
        <div class="container-fluid">
            <div class="row">
                <div class="pogoSlider" id="js-main-slider">
                    <div class="pogoSlider-slide" style="background-image:url('{% static "images/slide_img.png" %}');">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slide_text white_fonts">
                                        <h3>Fast & Secure<br><strong id="text_in_slide">Investment</strong></h3>
                                        <br>
                                        <a class="start_exchange_bt" href="{% url 'investment' %}"> Invest Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pogoSlider-slide" style="background-image:url('{% static "images/slide_img.png" %}')";>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slide_text white_fonts">
                                        <h3>Reliable & Guarded<br><strong>Wallet</strong></h3>
                                        <br>
                                        <a class="start_exchange_bt" href="{% url 'signup' %}">Sign Up</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .pogoSlider -->
            </div>
        </div>
    </div>
    <!-- End Banner -->
    
	<!-- section -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
					<div class="full text_align_right_img">
						<iframe src="https://www.copyfx.com/widgets/traderrating/traders-with-offers/" frameborder="0" width="100%" height="500px"></iframe>
					</div>
                </div>
                <div class="col-md-6 layout_padding">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
						   <h2><span class="theme_color">Welcome</span> To DxTrades</h2>	
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>We provide a unique global perspective through our global network, in-depth market and sector knowledge, you are assured that your investment will yield with us because we diversify and we have multiple income streams which include but not limited to:
						Cryptocurrency trading, Binary options trading, CFD's, Forex, Stock & Commodities.</p>
                    </div>
                    <div class="full paddding_left_15">
                        <a class="main_bt" href="{% url 'investment' %}">Invest</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- end section -->
    <!-- section -->
    <div class="section layout_padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                           <h2><span class="theme_color"></span>Services</h2>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="row fill1">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full fill services_blog">
                       <img class="img-responsive" src="{% static 'images/s1.png' %}" alt="#" />
                       <h4>Security</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full fill services_blog">
                        <img class="img-responsive" src="{% static 'images/s2.png' %}" alt="#" />
                        <a href="{% url 'investment' %}"><h4>Investment</h4></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					
                    <div class="full fill services_blog">
                        <img class="img-responsive" src="{% static 'images/s3.png' %}" alt="#" />
                        <a href="{% url 'wallet' %}"><h4>Wallet</h4></a>
                    </div>
                </div>
                
            </div>
            <div class="row margin-top_30">
                <div class="col-sm-12">
                    <div class="full">
                        <div class="center">
                            <a class="main_bt" href="{% url 'services' %}">Our Services </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section white_fonts" style="background: #2a2a2a;">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="background: #fff;">
                    <div class="full text_align_right_img">
                        <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget" data-currencyid="1" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-statsticker="true" data-stats="USD"></div>
						<script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/coinPriceBlock.js"></script><div id="coinmarketcap-widget-coin-price-block" coins="1,1027,825" currency="USD" theme="light" transparent="false" show-symbol-logo="true"></div>
						<script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/coinMarquee.js"></script><div id="coinmarketcap-widget-marquee" coins="1,1027,825" currency="USD" theme="light" transparent="false" show-symbol-logo="true"></div>
                    </div>
                </div>
                <div class="col-md-6 layout_padding">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                           <h2><span class="theme_color">Online</span> Wallet</h2>    
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>At DxTrades, we provide a safe and reliable digital money wallet where our customers can conviniently save or store digital currency and make withdrawal at anytime.</p>
                    </div>
                    <div class="full paddding_left_15">
                        <a class="main_bt" href="{% url 'wallet' %}">Open Wallet</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
	<!-- section -->
    <div class="section layout_padding about_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                           <h2>About</h2>    
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>DxTrades is a professional trading and investment company with emphasis on cryptocurrency, forex, binary option, CFD's. We are a group of qualified and trained financiers with technical knowledge. We actively monitor and trade the forex market, binary option...</p>
                    </div>
                    <div class="full paddding_left_15">
                        <a class="main_bt" href="{% url 'about' %}">Read More </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <img src="{% static 'images/img3.png' %}" alt="#" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
	
	<div class="section layout_padding">
        <div class="container-fluid" >
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                           <h2><span class="theme_color"></span>Testimonials</h2>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="row slideshow-container" id="">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full fill services_blog mySlides">
                       <h3 style="text-align:center">James Smith</h3>
					   <p style="text-align:center">I haven't seen a platform that pays really good like DxTrades. This is amazing, I thank every moderator here for helping me most especially to my account manager.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full fill services_blog mySlides">
                        <h3 style="text-align:center">John Miller</h3>
						<p style="text-align:center">This is one of the best companies I've invested in, they give high profits and they are responsible for any loss. Thank you DxTrades.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					
                    <div class="full fill services_blog mySlides">
                        <h3 style="text-align:center">Angel Willams</h3>
						<p style="text-align:center">I'm so excited, I give gratitude to the entire staff of DxTrades for I have recieved my profit of $5000...thank you all especially to my manager.</p>
                    </div>
                </div>
				
				  <!-- Next/prev buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<!-- Dots/bullets/indicators -->
<div class="dot-container">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>
                
            </div>            
        </div>
    </div>

	
	
	<div class="section layout_padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                           <h2><span class="theme_color"></span>Our Team</h2>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="row fill1">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full fill services_blog">
                    <img class="img-responsive" src="{% static 'images/team-1.jpg' %}" alt="#" />
					   <h2 style="text-align:center">CEO</h2>
                       <h2 style="text-align:center">Kelvin Anderson</h2>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full fill services_blog">
                      <img class="img-responsive" src="{% static 'images/team-3.jpg' %}" alt="#" />
						<h3 style="text-align:center">HEAD/EXPERT TRADER</h3>
                        <h2 style="text-align:center">Ashley Paul Tuner</h2>
						
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					
                    <div class="full fill services_blog">
                       <img class="img-responsive" src="{% static 'images/team-2.jpg' %}" alt="#" />
						<h3 style="text-align:center">SECRETARY</h3>
                        <h2 style="text-align:center">(Mrs)Ronnie Dunham</h2>
						
                    </div>
                </div>
                
            </div>            
        </div>
    </div>
    <!-- section -->
{% endblock %}