{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Start Banner -->
    <div class="section inner_page_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_title">
                        <h3>Invest</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
    
	
	
	<div class="section layout_padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                           <h2><span class="theme_color"></span>Investment Plan</h2>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="row fill1">
                <div class="col-md-3 col-sm-6 col-xs-12" style="padding-bottom:35px;">
                    <div class="full fill services_blog">
						<a href="{% url 'deposit' %}">
							<img class="img-responsive" src="{% static 'images/s5.png' %}" alt="#" />

					   </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12" style="padding-bottom:35px;">
                    <div class="full fill services_blog">
						<a href="{% url 'deposit' %}">
							<img class="img-responsive" src="{% static 'images/s6.png' %}" alt="#" />

						</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12" style="padding-bottom:35px;">
					
                    <div class="full fill services_blog">
						<a href="{% url 'deposit' %}">
							<img class="img-responsive" src="{% static 'images/s7.png' %}" alt="#" />

						</a>
                    </div>
                </div>
                
            </div>
		</div>
	</div>
	
		
    <!-- end section -->
	
   
{% endblock %}